In [ ]:
# Importar a biblioteca
import sqlite3

#Criar uma conexão com um banco de dados (no nosso caso, não temos um arquivo de banco de dados pré feito, então decidiu-se inicializar um denominado dados_de_voo.db)
conn = sqlite3.connect("dados_de_voo.db")

# Criar um cursor no banco que permitirá o uso de comandos no formato SQL
cur  = conn.cursor()

In [ ]:
# Criando a tabela registro_passageiros
cur.execute("""
CREATE TABLE registro_passageiros (
  id_passageiro TEXT NOT NULL PRIMARY KEY,
  st_nome TEXT NOT NULL,
  st_categoria TEXT NOT NULL,
  st_sexo TEXT,
  dt_nascimento TEXT NOT NULL,
  st_nacionalidade TEXT NOT NULL,
  st_estado_civil TEXT NOT NULL
)
""")

# Criando a tabela restricao_alimentar
cur.execute("""
CREATE TABLE restricao_alimentar (
  id_passageiro TEXT NOT NULL,
  st_alergia_alimentar TEXT,
  st_restricao_alimentar TEXT,
  FOREIGN KEY (id_passageiro)
      REFERENCES registro_passageiros (id_passageiro)
         ON DELETE CASCADE
         ON UPDATE NO ACTION
)
""")

# Criando a tabela registro_refeicoes
cur.execute("""
CREATE TABLE registro_refeicoes(
  id_refeicao TEXT NOT NULL PRIMARY KEY,
  st_nome TEXT NOT NULL,
  float_custo REAL NOT NULL
)
""")

# Criando a tabela registro_alergicos
cur.execute("""
CREATE TABLE registro_alergicos(
  id_refeicao TEXT NOT NULL,
  st_alergico TEXT NOT NULL,
  FOREIGN KEY (id_refeicao)
      REFERENCES registro_refeicoes (id_refeicao)
         ON DELETE CASCADE
         ON UPDATE NO ACTION
)
""")

# Criando a tabela registro_voo
cur.execute("""
CREATE TABLE registro_voo(
  id_voo TEXT NOT NULL PRIMARY KEY,
  st_origem TEXT NOT NULL,
  st_destino TEXT NOT NULL,
  dt_voo TEXT NOT NULL
)
""")

In [ ]:
# Criando a tabela registro_passageiros (id_passageiro, st_nome, st_categoria, st_sexo, dt_nascimento, st_nacionalidade, st_estado_civil)
cur.execute("""
INSERT INTO registro_passageiros VALUES
  ('p1','Ana Antunes','Gold','F','14/06/1999','Brasileiro', 'solteiro(a)'),
  ('p2','Mario Marques','Silver','M','06/11/1980','Brasileiro', 'solteiro(a)'),
  ('p3','Maria Marques','Silver','F','16/10/1976','Brasileiro', 'divorciado(a)'),
  ('p4','Pietro Palmeira','Silver','M','26/10/1988','Português', 'casado(a)'),
  ('p5','Pamela Pluma Palmeira','Silver','F','26/10/1988','Brasileiro', 'Casado(a)'),
  ('p6','Saulo Sauro','Bronze','M','23/11/1998','Brasileiro', 'solteiro(a)'),
  ('p7','Volverine Valadares','Gold','M','04/04/2006','Brasileiro', 'solteiro(a)'),
  ('p8','Waldisney Washington','Gold','M','02/05/2000','Brasileiro', 'divorciado(a)'),
  ('p9','Daniel Dimes','Silver','M','17/09/1995','Brasileiro', 'solteiro(a)'),
  ('p10','Daniela Dimes','Silver','F','17/09/2023','Brasileiro', 'solteiro(a)')


""")
# Comitar as inserções
conn.commit()

#Verificar dados na tabela
res = cur.execute("SELECT * FROM registro_passageiros")
res.fetchall()

In [ ]:
# Criando a tabela restricao_alimentar (id_passageiro, st_alergia_alimentar, st_restricao_alimentar)
cur.execute("""
INSERT INTO restricao_alimentar (id_passageiro, st_alergia_alimentar) VALUES
  ('p2','Lactose'),
  ('p3','Lactose'),
  ('p4','Frutos do Mar'),
  ('p4','Castanhas'),
  ('p7','Glutem'),
  ('p7','Frutos do Mar')
""")

cur.execute("""
INSERT INTO restricao_alimentar (id_passageiro, st_restricao_alimentar) VALUES
  ('p1','Vegano'),
  ('p8','Vegetariano')
""")

cur.execute("""
INSERT INTO restricao_alimentar VALUES
  ('p6','Castanhas','Vegetariano')
""")

# Comitar as inserções
conn.commit()

#Verificar dados na tabela
res = cur.execute("SELECT * FROM restricao_alimentar")
res.fetchall()

[('p2', 'Lactose', None),
 ('p3', 'Lactose', None),
 ('p4', 'Frutos do Mar', None),
 ('p4', 'Castanhas', None),
 ('p7', 'Glutem', None),
 ('p7', 'Frutos do Mar', None),
 ('p1', None, 'Vegano'),
 ('p8', None, 'Vegetariano'),
 ('p6', 'Castanhas', 'Vegetariano')]

In [ ]:
# Criando a tabela registro_refeicoes (id_refeicao, st_nome, float_custo)
cur.execute("""
INSERT INTO registro_refeicoes VALUES
  ('r1', 'Frango com Legumes', 20),
  ('r2', 'Picadinho de carne', 25),
  ('r3', 'Salada com castanhas', 15),
  ('r4', 'Risoto de Camarão', 30),
  ('r5', 'Hamburguer Combo', 35),
  ('r6', 'Hamburguer Vegano Combo', 30)
""")
# Comitar as inserções
conn.commit()

#Verificar dados na tabela
res = cur.execute("SELECT * FROM registro_refeicoes")
res.fetchall()

[('r1', 'Frango com Legumes', 20.0),
 ('r2', 'Picadinho de carne', 25.0),
 ('r3', 'Salada com castanhas', 15.0),
 ('r4', 'Risoto de Camarão', 30.0),
 ('r5', 'Hamburguer Combo', 35.0),
 ('r6', 'Hamburguer Vegano Combo', 30.0)]

In [ ]:
# Criando a tabela registro_alergicos (id_refeicao, st_alergico)
cur.execute("""
INSERT INTO registro_alergicos VALUES
  ('r1', "Vegetariano"),
  ('r1', "Vegano"),
  ('r1', "Glutem"),
  ('r2', "Vegetariano"),
  ('r2', "Vegano"),
  ('r2', "Glutem"),
  ('r3', "Castanhas"),
  ('r4', "Lactose"),
  ('r4', "Frutos do Mar"),
  ('r4', "Vegetariano"),
  ('r4', "Vegano"),
  ('r4', "Glutem"),
  ('r5', "Vegetariano"),
  ('r5', "Vegano"),
  ('r5', "Glutem"),
  ('r5', "Lactose")
""")
# Comitar as inserções
conn.commit()

#Verificar dados na tabela
res = cur.execute("SELECT * FROM registro_alergicos")
res.fetchall()

[('r1', 'Vegetariano'),
 ('r1', 'Vegano'),
 ('r1', 'Glutem'),
 ('r2', 'Vegetariano'),
 ('r2', 'Vegano'),
 ('r2', 'Glutem'),
 ('r3', 'Castanhas'),
 ('r4', 'Lactose'),
 ('r4', 'Frutos do Mar'),
 ('r4', 'Vegetariano'),
 ('r4', 'Vegano'),
 ('r4', 'Glutem'),
 ('r5', 'Vegetariano'),
 ('r5', 'Vegano'),
 ('r5', 'Glutem'),
 ('r5', 'Lactose')]

In [ ]:
# Criando a tabela registro_voo (id_voo,  st_origem, st_destino, dt_voo)
cur.execute("""
INSERT INTO registro_voo VALUES
  ('v1', "GRU", "REC", "01/02/2024"),
  ('v2', "VCP", "SDU", "15/03/2024"),
  ('v3', "REC", "GRU", "20/06/2024")
""")
# Comitar as inserções
conn.commit()

#Verificar dados na tabela
res = cur.execute("SELECT * FROM registro_voo")
res.fetchall()

# Desafio 1
- Crie uma nova tabela de itinerários com os três voos existente na tabela registro_voos

In [ ]:
# Criando a tabela registro_itinerarios
cur.execute("""
CREATE TABLE registro_itinerarios (
    id_voo TEXT NOT NULL,
    id_passageiro TEXT NOT NULL,
    id_refeicao TEXT NOT NULL,
    FOREIGN KEY (id_voo) REFERENCES registro_voo (id_voo)
        ON DELETE CASCADE
        ON UPDATE NO ACTION,
    FOREIGN KEY (id_passageiro) REFERENCES registro_passageiros (id_passageiro)
        ON DELETE CASCADE
        ON UPDATE NO ACTION,
    FOREIGN KEY (id_refeicao) REFERENCES registro_refeicoes (id_refeicao)
        ON DELETE CASCADE
        ON UPDATE NO ACTION
)
""")

# Selecionar os passageiros e suas restrições alimentares
cur.execute("""
SELECT rp.id_passageiro, ra.st_restricao_alimentar
FROM registro_passageiros rp
LEFT JOIN restricao_alimentar ra ON rp.id_passageiro = ra.id_passageiro
""")
passageiros = cur.fetchall()

# Selecionar os voos
cur.execute("SELECT id_voo FROM registro_voo")
voos = cur.fetchall()

# Selecionar as refeições
cur.execute("SELECT id_refeicao, st_nome FROM registro_refeicoes")
refeicoes = cur.fetchall()

# Inserir os dados na tabela registro_itinerarios
for voo in voos:
    for passageiro in passageiros:
        id_passageiro, restricao = passageiro
        # Selecionar uma refeição que não tenha a restrição alimentar do passageiro
        cur.execute("""
        SELECT rr.id_refeicao
        FROM registro_refeicoes rr
        LEFT JOIN registro_alergicos ra ON rr.id_refeicao = ra.id_refeicao
        WHERE ra.st_alergico IS NULL OR ra.st_alergico != ?
        """, (restricao,))
        refeicao = cur.fetchone()
        if refeicao:
            id_refeicao = refeicao[0]
            cur.execute("""
            INSERT INTO registro_itinerarios (id_voo, id_passageiro, id_refeicao)
            VALUES (?, ?, ?)
            """, (voo[0], id_passageiro, id_refeicao))

# Confirmar as mudanças
conn.commit()

# Consultar dados da tabela registro_itinerarios
cur.execute("SELECT * FROM registro_itinerarios")
itinerarios = cur.fetchall()

# Mostrar os dados
for itinerario in itinerarios:
    print(itinerario)

# Desafio 2
A precificação da SAMBA é pela categoria do cliente, e segue a seguinte regra:

- Silver - R$550.6

- Bronze - R$450.7

- Gold - R$350.2

In [ ]:
# Adicionar a coluna de valor de cada passageiro.
cur.execute("""
ALTER TABLE registro_voo
ADD COLUMN valor_passageiro REAL
""")

# Selecionar os passageiros e suas categorias
cur.execute("SELECT id_passageiro, st_categoria FROM registro_passageiros")
passageiros = cur.fetchall()

# Definir os valores por categoria
precos = {
    'Silver': 550.6,
    'Bronze': 450.7,
    'Gold': 350.2
}

# Atualizar a coluna valor_passageiro na tabela registro_voo
for passageiro in passageiros:
    id_passageiro, categoria = passageiro
    valor = precos[categoria]
    cur.execute("""
    UPDATE registro_voo
    SET valor_passageiro = ?
    WHERE id_voo IN (
        SELECT id_voo
        FROM registro_itinerarios
        WHERE id_passageiro = ?
    )
    """, (valor, id_passageiro))

# Confirmar as mudanças
conn.commit()

# Selecionar os voos e calcular o custo total
cur.execute("""
SELECT rv.id_voo, SUM(rr.float_custo) + 300.0 AS custo_total
FROM registro_voo rv
JOIN registro_itinerarios ri ON rv.id_voo = ri.id_voo
JOIN registro_refeicoes rr ON ri.id_refeicao = rr.id_refeicao
GROUP BY rv.id_voo
""")
custos_voos = cur.fetchall()

# Selecionar os voos e calcular a receita total
cur.execute("""
SELECT rv.id_voo, SUM(rv.valor_passageiro) AS receita_total
FROM registro_voo rv
JOIN registro_itinerarios ri ON rv.id_voo = ri.id_voo
GROUP BY rv.id_voo
""")
receitas_voos = cur.fetchall()

# Calcular a rentabilidade de cada voo
rentabilidade_voos = {}
for custo in custos_voos:
    id_voo, custo_total = custo
    receita_total = next((r[1] for r in receitas_voos if r[0] == id_voo), 0)
    rentabilidade = receita_total - custo_total
    rentabilidade_voos[id_voo] = rentabilidade

# Determinar o voo mais rentável

(em desenvolvimento...)