# Atividade Banco de dados - SQLite - Reprograma

In [ ]:
[ ]
# Importar a biblioteca
import sqlite3


#Criar uma conexão com um banco de dados (no nosso caso, não temos um arquivo de banco de dados pré feito, então decidiu-se inicializar um denominado banco_auxiliar.db)
conn = sqlite3.connect("banco_auxiliar.db")

# Criar um cursor no banco que permitirá o uso de comandos no formato SQL
cur  = conn.cursor()

Criando Tabela auxiliar
Rode a célula abaixo para criar a tabela 'usuarios' auxiliar para as explicacoes desse módulo. Essa terá as colunas id_user, st_nome, in_idade.


[ ]
# Criando a tabela usuarios
cur.execute("""
CREATE TABLE IF NOT EXISTS usuarios(
  id_user INTEGER NOT NULL PRIMARY KEY,
  st_nome TEXT NOT NULL,
  in_idade INTEGER NOT NULL
)
""")
<sqlite3.Cursor at 0x7efef748fac0>

[ ]
# Populando a tabela usuatios
cur.execute("""
INSERT INTO usuarios VALUES
  (1, "Ana Antunes", 13),
  (2, "Beto Batista", 26),
  (3, "Carlos Chaves", 74),
  (4, "Dante Dummas", 53),
  (5, "Etelvina Estrada", 10),
  (6, "Fernanda Oliveira", 18),
  (7, "Golias Gordon", 60),
  (8, "Humberto Honorio", 14),
  (9, "Ivo Inacio", 98),
  (10, "João Jordão", 23)
""")

# Comitar as inserções
conn.commit()
Resgatando nome das colunas
Rode a célula abaixo para criar uma função que resgate o nome das colunas de uma consulta. O nome da função é findColumns e ela recebe como parâmetro uma execução de consulta:


[ ]
res = conn.execute("SELECT * FROM usuarios")

def findColumns(res):
  output = []
  for row in res.description:
    output.append(row[0])
  return output

findColumns(res)
['id_user', 'st_nome', 'in_idade']
Usando condições (CASE WHEN)
Para se estabelecer condições de preenchimento de uma coluna, há duas formas:


[ ]
# Forma 1 do uso do CASE WHEN
cur.execute("""
SELECT
  *,
  CASE
    WHEN in_idade < 18 THEN 'Jovem'
    WHEN in_idade < 65 THEN 'Adulto'
    ELSE 'Idoso'
  END AS st_idade
FROM usuarios
""").fetchall()
[(1, 'Ana Antunes', 13, 'Jovem'),
 (2, 'Beto Batista', 26, 'Adulto'),
 (3, 'Carlos Chaves', 74, 'Idoso'),
 (4, 'Dante Dummas', 53, 'Adulto'),
 (5, 'Etelvina Estrada', 10, 'Jovem'),
 (6, 'Fernanda Oliveira', 18, 'Adulto'),
 (7, 'Golias Gordon', 60, 'Adulto'),
 (8, 'Humberto Honorio', 14, 'Jovem'),
 (9, 'Ivo Inacio', 98, 'Idoso'),
 (10, 'João Jordão', 23, 'Adulto')]

[ ]
# Forma 2 de CASE WHEN:
cur.execute("""
SELECT
  *,
  CASE st_idade
    WHEN 'Jovem' THEN 'Iniciante'
    WHEN 'Adulto' THEN 'Entendido'
    ELSE 'Experiente'
  END AS st_sabedoria
FROM (
  SELECT
    *,
    CASE
      WHEN in_idade < 18 THEN 'Jovem'
      WHEN in_idade < 65 THEN 'Adulto'
      ELSE 'Idoso'
    END AS st_idade
  FROM usuarios
  )
""").fetchall()
# Bonus: Exemplo se subquery
[(1, 'Ana Antunes', 13, 'Jovem', 'Iniciante'),
 (2, 'Beto Batista', 26, 'Adulto', 'Entendido'),
 (3, 'Carlos Chaves', 74, 'Idoso', 'Experiente'),
 (4, 'Dante Dummas', 53, 'Adulto', 'Entendido'),
 (5, 'Etelvina Estrada', 10, 'Jovem', 'Iniciante'),
 (6, 'Fernanda Oliveira', 18, 'Adulto', 'Entendido'),
 (7, 'Golias Gordon', 60, 'Adulto', 'Entendido'),
 (8, 'Humberto Honorio', 14, 'Jovem', 'Iniciante'),
 (9, 'Ivo Inacio', 98, 'Idoso', 'Experiente'),
 (10, 'João Jordão', 23, 'Adulto', 'Entendido')]
Usando distinção (DISTINCT)
Para se distingur linhas iguais, deve-se:


[ ]
# Adicionar o DISTINCT antetiormente a coluna, ou ao conjunto de colunas, que se quer distinguir
cur.execute("""
SELECT DISTINCT
  CASE
    WHEN in_idade < 18 THEN 'Jovem'
    WHEN in_idade < 65 THEN 'Adulto'
    ELSE 'Idoso'
  END AS st_idade
FROM usuarios
""").fetchall()
[('Jovem',), ('Adulto',), ('Idoso',)]
Usando condições pós agrupamento (HAVING)
Para se distingur linhas iguais, deve-se:


[ ]
# Adicionar o DISTINCT antetiormente a coluna, ou ao conjunto de colunas, que se quer distinguir
cur.execute("""
SELECT DISTINCT
  CASE
    WHEN in_idade < 18 THEN 'Jovem'
    WHEN in_idade < 65 THEN 'Adulto'
    ELSE 'Idoso'
  END AS st_idade,
  COUNT(*) AS qt_usuarios
FROM usuarios
GROUP BY st_idade
HAVING qt_usuarios > 2
""").fetchall()
[('Adulto', 5), ('Jovem', 3)]
Desligando a conexão
Para se findar a conexão, deve-se:


[ ]
# Fechando a conexão

conn.close()

2. Funções lógicas
Nesse ponto, o objetivo principal é entender a biblioteca SQLite e criar as entidades planejadas, se atendo a cada particularidade. Para tanto, deve-se:

Ler a documentação da biblioteca;
Inicializar a biblioteca;
Use as funções levantadas aqui.
Formato amigável da documentação

Inicializando a biblioteca
Para se inicializar a biblioteca, deve-se:


[ ]
# Importar a biblioteca
import sqlite3


#Criar uma conexão com um banco de dados (no nosso caso, não temos um arquivo de banco de dados pré feito, então decidiu-se inicializar um denominado banco_auxiliar.db)
conn = sqlite3.connect("banco_auxiliar.db")

# Criar um cursor no banco que permitirá o uso de comandos no formato SQL
cur  = conn.cursor()

Criando Tabela auxiliar
Rode a célula abaixo para criar a tabela 'destinos' auxiliar para as explicacoes desse módulo. Essa terá as colunas id_destino, st_nome, st_tipo, fl_valor_medio.


[ ]
# Criando a tabela usuarios
cur.execute("""
CREATE TABLE destinos(
  id_destino INTEGER NOT NULL PRIMARY KEY,
  st_nome TEXT NOT NULL,
  st_tipo TEXT NOT NULL,
  fl_valor_medio REAL NOT NULL
)
""")
<sqlite3.Cursor at 0x7ce790d670c0>

[ ]
# Populando a tabela usuatios
cur.execute("""
INSERT INTO destinos VALUES
  (1, "Recife", "Praia", 2500),
  (2, "Florianopolis", "Praia",3000),
  (3, "Belo Horizonte", "Campo", 1500),
  (4, "Petar", "Campo", 1000),
  (5, "Brasilia", "Cidade", 3000),
  (6, "Curitiba", "Cidade", 2000),
  (7, "Rio de Janeiro", "Praia", 5000),
  (9, "Salvador", "Praia", 3500),
  (10, "Fortaleza", "Praia", 2000)
""")

# Comitar as inserções
conn.commit()
Usando operador "E" (AND)
Para se usar o operador "E", deve_se:


[ ]
cur.execute("""
SELECT
  *
FROM destinos
WHERE st_tipo = "Praia" AND fl_valor_medio > 2000
""").fetchall()
[(1, 'Recife', 'Praia', 2500.0),
 (2, 'Florianopolis', 'Praia', 3000.0),
 (7, 'Rio de Janeiro', 'Praia', 5000.0),
 (9, 'Salvador', 'Praia', 3500.0)]
Usando operador "OU" (OR)
Para se usar o operador "OU", deve_se:


[ ]
cur.execute("""
SELECT
  *
FROM destinos
WHERE st_tipo = "Praia" OR fl_valor_medio > 2000
""").fetchall()
[(1, 'Recife', 'Praia', 2500.0),
 (2, 'Florianopolis', 'Praia', 3000.0),
 (5, 'Brasilia', 'Cidade', 3000.0),
 (7, 'Rio de Janeiro', 'Praia', 5000.0),
 (9, 'Salvador', 'Praia', 3500.0),
 (10, 'Fortaleza', 'Praia', 2000.0)]
Usando operador "PERTENCE" (IN)
Para se usar o operador "PERTENCE", deve_se:


[ ]
cur.execute("""
SELECT
  *
FROM destinos
WHERE st_tipo IN ("Cidade", "Campo")
""").fetchall()
[(3, 'Belo Horizonte', 'Campo', 1500.0),
 (4, 'Petar', 'Campo', 1000.0),
 (5, 'Brasilia', 'Cidade', 3000.0),
 (6, 'Curitiba', 'Cidade', 2000.0)]
Usando operador "ENTRE" (BETWEEN)
Para se usar o operador "ENTRE", deve_se:


[ ]
cur.execute("""
SELECT
  *
FROM destinos
WHERE fl_valor_medio BETWEEN 2000 AND 3000
""").fetchall()
[(1, 'Recife', 'Praia', 2500.0),
 (2, 'Florianopolis', 'Praia', 3000.0),
 (5, 'Brasilia', 'Cidade', 3000.0),
 (6, 'Curitiba', 'Cidade', 2000.0),
 (10, 'Fortaleza', 'Praia', 2000.0)]
Usando operador "NEGAÇÃO" (NOT)
Para se usar o operador "NOT", deve_se:


[ ]
cur.execute("""
SELECT
  *
FROM destinos
WHERE NOT fl_valor_medio > 2000
""").fetchall()
[(3, 'Belo Horizonte', 'Campo', 1500.0),
 (4, 'Petar', 'Campo', 1000.0),
 (6, 'Curitiba', 'Cidade', 2000.0),
 (10, 'Fortaleza', 'Praia', 2000.0)]
Usando operador "CORRESPONDE" (LIKE)
Para se usar o operador "LIKE", deve_se:


[ ]
#Use o charactere % para correspondências não exatas
cur.execute("""
SELECT
  *
FROM destinos
WHERE st_nome LIKE "%a%"
""").fetchall()
[(2, 'Florianopolis', 'Praia', 3000.0),
 (4, 'Petar', 'Campo', 1000.0),
 (5, 'Brasilia', 'Cidade', 3000.0),
 (6, 'Curitiba', 'Cidade', 2000.0),
 (7, 'Rio de Janeiro', 'Praia', 5000.0),
 (9, 'Salvador', 'Praia', 3500.0),
 (10, 'Fortaleza', 'Praia', 2000.0)]
Desligando a conexão
Para se findar a conexão, deve-se:


[ ]
# Fechando a conexão

conn.close()

3. Funções Agregadoras
Nesse ponto, o objetivo principal é entender a biblioteca SQLite e criar as entidades planejadas, se atendo a cada particularidade. Para tanto, deve-se:

Ler a documentação da biblioteca;
Inicializar a biblioteca;
Use as funções levantadas aqui.
Formato amigável da documentação

Inicializando a biblioteca
Para se inicializar a biblioteca, deve-se:


[ ]
# Importar a biblioteca
import sqlite3


#Criar uma conexão com um banco de dados (no nosso caso, não temos um arquivo de banco de dados pré feito, então decidiu-se inicializar um denominado banco_auxiliar.db)
conn = sqlite3.connect("banco_auxiliar.db")

# Criar um cursor no banco que permitirá o uso de comandos no formato SQL
cur  = conn.cursor()

Criando Tabela auxiliar
Rode a célula abaixo para criar a tabela 'destinos' auxiliar para as explicacoes desse módulo. Essa terá as colunas id_destino, st_nome, st_tipo, fl_valor_medio.


[ ]
# Criando a tabela usuarios
cur.execute("""
CREATE TABLE destinos(
  id_destino INTEGER NOT NULL PRIMARY KEY,
  st_nome TEXT NOT NULL,
  st_tipo TEXT NOT NULL,
  fl_valor_medio REAL NOT NULL
)
""")
<sqlite3.Cursor at 0x7efed2cc8540>

[ ]
# Populando a tabela usuatios
cur.execute("""
INSERT INTO destinos VALUES
  (1, "Recife", "Praia", 2500),
  (2, "Florianopolis", "Praia",3000),
  (3, "Belo Horizonte", "Campo", 1500),
  (4, "Petar", "Campo", 1000),
  (5, "Brasilia", "Cidade", 3000),
  (6, "Curitiba", "Cidade", 2000),
  (7, "Rio de Janeiro", "Praia", 5000),
  (9, "Salvador", "Praia", 3500),
  (10, "Fortaleza", "Praia", 2000)
""")

# Comitar as inserções
conn.commit()
Usando operador "Média" (AVG)
Para se usar o operador "AVG", deve_se:


[ ]
# Para devolver a média do valor de fl_valor_médio da base destino, deve-se:
cur.execute("""
SELECT
  AVG(fl_valor_medio) as media_do_valor_medio
FROM destinos
""").fetchall()
[(2611.1111111111113,)]
Usando operador "Contagem" (COUNT)
Para se usar o operador "COUNT", deve_se:


[ ]
#Para devolver a contagem de lugares por tipo, deve-se:
cur.execute("""
SELECT
  st_tipo,
  COUNT(*) AS qt_lugares
FROM destinos
GROUP BY st_tipo
""").fetchall()
[('Campo', 2), ('Cidade', 2), ('Praia', 5)]
Usando operador "Máximo" (MAX)
Para se usar o operador "MAX", deve_se:


[ ]
#Para devolver o valor médio máximo da tabela destinos para cada tipo de destino, deve-se:
cur.execute("""
SELECT
  st_tipo,
  MAX(fl_valor_medio) AS maximo
FROM destinos
GROUP BY st_tipo
""").fetchall()
[('Campo', 1500.0), ('Cidade', 3000.0), ('Praia', 5000.0)]
Usando operador "Mínimo" (MIN)
Para se usar o operador "MIN", deve_se:


[ ]
#Para devolver o valor médio mínimo da tabela destinos para cada tipo de destino, deve-se:
cur.execute("""
SELECT
  st_tipo,
  MIN(fl_valor_medio) AS maximo
FROM destinos
GROUP BY st_tipo
""").fetchall()
[('Campo', 1000.0), ('Cidade', 2000.0), ('Praia', 2000.0)]
Usando operador "Soma" (SUM)
Para se usar o operador "SUM", deve_se:


[ ]
#Para devolver a soma dos valores médios da tabela destinos, deve-se:
cur.execute("""
SELECT
  SUM(fl_valor_medio) AS soma_do_valor_medio
FROM destinos
""").fetchall()
[(23500.0,)]
4. Uniões
Nesse ponto, o objetivo principal é entender a biblioteca SQLite e criar as entidades planejadas, se atendo a cada particularidade. Para tanto, deve-se:

Ler a documentação da biblioteca;
Inicializar a biblioteca;
Use as funções levantadas aqui.
Formato amigável da documentação

Inicializando a biblioteca
Para se inicializar a biblioteca, deve-se:


[ ]
# Importar a biblioteca
import sqlite3


#Criar uma conexão com um banco de dados (no nosso caso, não temos um arquivo de banco de dados pré feito, então decidiu-se inicializar um denominado banco_auxiliar.db)
conn = sqlite3.connect("banco_auxiliar.db")

# Criar um cursor no banco que permitirá o uso de comandos no formato SQL
cur  = conn.cursor()

Criando Tabela auxiliar
Rode a célula abaixo para criar as tabelas 'professoras' e 'materias' que auxiliarão as explicacoes desse módulo. A tabela professoras tera as colunas 'id_professora' e 'st_nome'. A tabela materias terá 'id_materia', 'st_nome' e 'id_professora'.


[ ]
# Criando a tabela usuarios
cur.execute("""
CREATE TABLE professoras (
  id_professora TEXT NOT NULL PRIMARY KEY,
  st_nome TEXT NOT NULL
)
""")

# Criando a tabela materias
cur.execute("""
CREATE TABLE materias(
  id_materia TEXT NOT NULL PRIMARY KEY,
  st_nome TEXT NOT NULL,
  id_professora TEXT NOT NULL
)
""")
<sqlite3.Cursor at 0x7efed2cc8540>

[ ]
# Populando a tabela usuatios
cur.execute("""
INSERT INTO professoras VALUES
  ("p1", "Ana"),
  ("p2", "Bete"),
  ("p3", "Carla"),
  ("p4", "Donna"),
  ("p5", "Etelvina"),
  ("p6", "Fernanda"),
  ("p7", "Gloria")
""")
cur.execute("""
INSERT INTO materias VALUES
  ("m1", "Artes", "p3"),
  ("m2", "Portugues", "p6"),
  ("m3", "Matematica", "p1"),
  ("m4", "Fisica", "p2"),
  ("m5", "Biologia", "p5)"),
  ("m6", "Quimica", "p4"),
  ("m7", "Historia", "p6"),
  ("m8", "Geografia", "p12"),
  ("m9", "Filosofia", "p10")
""")

# Comitar as inserções
conn.commit()
Usando Intersecção (INNER JOIN)
Para se encontrar no cruzamento de duas tabelas apenas os dados comuns as duas, deve_se:


[ ]
#Primeiro, deve-se encontrar um elemento de cruzamento entre as duas tabelas, no caso da base auxiliar é id_professora,
#Então, deve-se usar o INNER JOIN
cur.execute("""
SELECT
  professoras.st_nome AS "Professora",
  materias.st_nome AS "Materia"
FROM
  professoras
INNER JOIN
  materias
ON professoras.id_professora = materias.id_professora
""").fetchall()

[('Carla', 'Artes'),
 ('Fernanda', 'Portugues'),
 ('Ana', 'Matematica'),
 ('Bete', 'Fisica'),
 ('Donna', 'Quimica'),
 ('Fernanda', 'Historia')]
Usando Cruzamento Esquerdo (LEFT JOIN) - Apenas dados da esquerda e não encontrados
Para se encontrar o cruzamento de duas tabelas descrito, deve_se:


[ ]
#Primeiro, deve-se encontrar um elemento de cruzamento entre as duas tabelas, no caso da base auxiliar é id_professora,
#Então, deve-se usar o LEFT JOIN
cur.execute("""
SELECT
  professoras.st_nome AS "Professora",
  materias.st_nome AS "Materia"
FROM
  professoras
LEFT JOIN
  materias
ON professoras.id_professora = materias.id_professora
""").fetchall()

[('Ana', 'Matematica'),
 ('Bete', 'Fisica'),
 ('Carla', 'Artes'),
 ('Donna', 'Quimica'),
 ('Etelvina', None),
 ('Fernanda', 'Historia'),
 ('Fernanda', 'Portugues'),
 ('Gloria', None)]
Usando Cruzamento Esquerdo (LEFT JOIN) - Apenas dados da esquerda encontrados
Para se encontrar o cruzamento de duas tabelas descrito, deve_se:


[ ]
#Primeiro, deve-se encontrar um elemento de cruzamento entre as duas tabelas, no caso da base auxiliar é id_professora,
#Então, deve-se usar o LEFT JOIN
cur.execute("""
SELECT
  professoras.st_nome AS "Professora",
  materias.st_nome AS "Materia"
FROM
  professoras
LEFT JOIN
  materias
ON
  professoras.id_professora = materias.id_professora
WHERE
  materias.id_professora IS NOT NULL
""").fetchall()

[('Carla', 'Artes'),
 ('Fernanda', 'Portugues'),
 ('Ana', 'Matematica'),
 ('Bete', 'Fisica'),
 ('Donna', 'Quimica'),
 ('Fernanda', 'Historia')]
Usando Cruzamento Esquerdo (LEFT JOIN) - Apenas dados da esquerda não encontrados
Para se encontrar o cruzamento de duas tabelas descrito, deve_se:


[ ]
#Primeiro, deve-se encontrar um elemento de cruzamento entre as duas tabelas, no caso da base auxiliar é id_professora,
#Então, deve-se usar o LEFT JOIN
cur.execute("""
SELECT
  professoras.st_nome AS "Professora",
  materias.st_nome AS "Materia"
FROM
  professoras
LEFT JOIN
  materias
ON
  professoras.id_professora = materias.id_professora
WHERE
  materias.id_professora IS NULL
""").fetchall()

[('Etelvina', None), ('Gloria', None)]
Usando Cruzamento Esquerdo (LEFT JOIN) - "Full Join" fabricado
Infelizmente essa versão de uso da biblioteca não possui RIGT JOIN ou FULL JOIN, entretanto é possível fazê-lo permitindo todo o tipo de match e todo o tipo de chave nula.

ATENÇÃO: Tudo vai cruzar com tudo.

Para se encontrar o cruzamento de duas tabelas descrito, deve_se:


[ ]
#Primeiro, deve-se encontrar um elemento de cruzamento entre as duas tabelas, no caso da base auxiliar é id_professora,
#Então, deve-se usar o LEFT JOIN
cur.execute("""
SELECT
  professoras.st_nome AS "Professora",
  materias.st_nome AS "Materia"
FROM
  professoras
LEFT JOIN
  materias
ON
  professoras.id_professora = materias.id_professora
  OR professoras.id_professora <> materias.id_professora
  OR professoras.id_professora IS NULL
  OR  materias.id_professora IS NULL
LIMIT 10
""").fetchall()

[('Ana', 'Artes'),
 ('Ana', 'Portugues'),
 ('Ana', 'Matematica'),
 ('Ana', 'Fisica'),
 ('Ana', 'Biologia'),
 ('Ana', 'Quimica'),
 ('Ana', 'Historia'),
 ('Ana', 'Geografia'),
 ('Ana', 'Filosofia'),
 ('Bete', 'Artes')]
Usando Empilhamento ("UNION ALL")
Para se empilhar de duas tabelas, deve_se:


[ ]
# Ter uma tabela estruturalmente semelhante a alguma que tenha
# Aqui, criarei uma com dados de professoras: (no resultado de uma consulta)

cur.execute("""
SELECT "p8" as id_professora, "Hanna" as st_nome
UNION ALL
SELECT "p9", "Iara"
UNION ALL
SELECT "p10", "Janaina"
""")
<sqlite3.Cursor at 0x7efed2cc8540>

[ ]
# Ter uma tabela estruturalmente semelhante a alguma que tenha
# Aqui, está uma com dados de professoras (ou no resultado de uma consulta)
# Então, deve-se empilhar:
cur.execute("""
SELECT * from professoras
UNION ALL
SELECT "p8" as id_professora, "Hanna" as st_nome
UNION ALL
SELECT "p9", "Iara"
UNION ALL
SELECT "p10", "Janaina"
""").fetchall()

[('p1', 'Ana'),
 ('p2', 'Bete'),
 ('p3', 'Carla'),
 ('p4', 'Donna'),
 ('p5', 'Etelvina'),
 ('p6', 'Fernanda'),
 ('p7', 'Gloria'),
 ('p8', 'Hanna'),
 ('p9', 'Iara'),
 ('p10', 'Janaina')]
Desligando a conexão
Para se findar a conexão, deve-se:


[ ]
# Fechando a conexão

conn.close()

5. Vistas e subsonsultas
Nesse ponto, o objetivo principal é entender a biblioteca SQLite e criar as entidades planejadas, se atendo a cada particularidade. Para tanto, deve-se:

Ler a documentação da biblioteca;
Inicializar a biblioteca;
Use as funções levantadas aqui.
Formato amigável da documentação

Inicializando a biblioteca
Para se inicializar a biblioteca, deve-se:


[ ]
# Importar a biblioteca
import sqlite3


#Criar uma conexão com um banco de dados (no nosso caso, não temos um arquivo de banco de dados pré feito, então decidiu-se inicializar um denominado banco_auxiliar.db)
conn = sqlite3.connect("banco_auxiliar.db")

# Criar um cursor no banco que permitirá o uso de comandos no formato SQL
cur  = conn.cursor()

Usando Vistas de tabela (VIEWS)
Para criar e apagar vistas, deve_se:


[ ]
#Criando uma vista
cur.execute("""
CREATE VIEW vw_destinos
AS
SELECT 'São Paulo' AS st_cidade, 'SP' AS st_estado
UNION ALL
SELECT 'Rio de Janeiro' AS st_cidade, 'RJ' AS st_estado
UNION ALL
SELECT 'Belo Horizonte' AS st_cidade, 'MG' AS st_estado
""")

[]

[ ]
#Verificando os dados dela
cur.execute("
SELECT * FROM vw_destinos").fetchall()
[('São Paulo', 'SP'), ('Rio de Janeiro', 'RJ'), ('Belo Horizonte', 'MG')]

[ ]
#Apagando vistas
cur.execute("DROP VIEW vw_destinos")
<sqlite3.Cursor at 0x7efed2cc8540>
Usando Subconsultas (SubQuery)
Para usar subquerys, deve_se:


[ ]
#Colocar a consulta no FROM
cur.execute("""
SELECT DISTINCT
  AVG(valor) AS "media_distinct_fora",
  AVG(DISTINCT valor) AS "media_distinct_dentro"
FROM (
  SELECT 20 AS valor
  UNION ALL
  SELECT 10
  UNION ALL
  SELECT 20
)
""").fetchall()

[(16.666666666666668, 15.0)]
Desligando a conexão
Para se findar a conexão, deve-se:


[ ]
# Fechando a conexão

conn.close()

Produtos pagos do Colab - Cancelar contratos

In [ ]:
Separando alguns passageiros por voo

INSERT INTO registro_itinerarios (id_voo,id_passageiro)

SELECT V.id_voo, P.id_passageiro

FROM registro_passageiros AS P

JOIN registro_voo AS V ON (P.id_passageiro in ('p1','p2','p3') AND V.id_voo = 'v1') OR (P.id_passageiro in ('p4','p5','p6') AND V.id_voo = 'v2') OR (P.id_passageiro in ('p7','p8','p9','p10') AND V.id_voo = 'v3')

----------

TODOS OS VOOS PRA TODOS OS PASSAGEIROS

INSERT INTO registro_itinerarios (id_voo,id_passageiro)

SELECT V.id_voo, P.id_passageiro

FROM registro_passageiros AS P

CROSS JOIN registro_voo AS V